html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='/static/app.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
  body
    header
      nav
        .nav-wrapper.teal.darken-3
          a.brand-logo.left(href='/') 
            i.material-icons.hide-on-small-only audiotrack
            | FriendsPlaylist
          
          ul.right.hide-on-small-only
            li
              a(href='/join')
                i.material-icons.left playlist_add
                | Join a Playlist
            li
              a(href='/playlist') 
                i.material-icons.left playlist_add_check
                | Get a playlist
          
          ul#nav-mobile.right.hide-on-med-and-up
            li
              a(href='/join')
                i.material-icons playlist_add
            li
              a(href='/playlist')
                i.material-icons playlist_add_check
    main      
      .section#main-container
        .container.login-box.grey-text.text-darken-3
          .row
            .col.s12.l12.m12
              h1 Playlist with friends!
              h3 Inicia Sesión con Spotify para crear una playlist con amigos.
              a.btn.teal.darken-2(href='/login') Inicia Sesión
      
    footer.page-footer.teal
      .container
        .row
          .col.l6.s12
            h5.white-text FriendsPlaylist
            p.grey-text.text-lighten-4 Make playlist with friends!
          .col.l4.offset-l2.s12
            h5.white-text Spotify Docs
            ul
              li
                a.grey-text.text-lighten-3(href='https://developer.spotify.com/web-api/') Web API
              li
                a.grey-text.text-lighten-3(href='#!') Link 2
      .footer-copyright
        .container
          | &copy; 2017 itsfree 
          a.grey-text.text-lighten-4.right by Jumarogu

    script(src='https://code.jquery.com/jquery-2.2.3.min.js', integrity='sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
